<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d [%t] %5p \(%F:%L\) - %m%n</pattern>
        </encoder>
    </appender>
    <appender name="spider" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>./logs/spider.log</File>
        <encoder>
            <pattern>%d [%t] %5p \(%F:%L\) - %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>128MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <fileNamePattern>./logs/archive/spider-%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <maxHistory>24</maxHistory>
        </rollingPolicy>
    </appender>

    <appender name="zk" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>./logs/mq.log</File>
        <encoder>
            <pattern>%d [%t] %5p \(%F:%L\) - %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>128MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <fileNamePattern>./logs/archive/mq-%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <maxHistory>24</maxHistory>
        </rollingPolicy>
    </appender>

    <appender name="zk-error" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>./logs/spider-error.log</File>
        <encoder>
            <pattern>%d [%t] %5p \(%F:%L\) - %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>128MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <fileNamePattern>./logs/archive/spider-error-%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <maxHistory>24</maxHistory>
        </rollingPolicy>
    </appender>


    <logger name="com.zj.zookeeper.curator" level="INFO" additivity="true"> 
        <appender-ref ref="zk"/> 
    </logger>

    <logger name="zk-error" level="ERROR" additivity="true">
        <appender-ref ref="zk-error"/>
    </logger>
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>